# MCP runtime/build output
bin/
jars/
temp/
reobf/
logs/
dist/
build/
release/

# Eclipse / IDE junk
.metadata/
.classpath
.project
.settings/

# OS junk
.DS_Store
Thumbs.db

# Config
conf/*.csv
conf/*.srg

# Compiled files
*.class

# Crash logs
crash-reports/

# Local run configs
run/